head {
  font: 'Merriweather Sans', sans-serif;
}

.topnav {
  letter-spacing: 6px;
  line-height: 66px;
  word-spacing: 50px;
  text-align: center;
}

body {
  letter-spacing: 0px;
  line-height: 30px;
  word-spacing: 2.5px;
  text-align: center;
  font-size: 16px;
}
