* {
  box-sizing: border-box;
}

html, head {
  font: 'Merriweather Sans', sans-serif;
}

.topnav {
  letter-spacing: 6px;
  line-height: 66px;
  word-spacing: 50px;
  text-align: center;
  color: black;
}

.boxed {
  width: cover;
  height: 450px;
  background: black;
  color: white;
}

html, body {
  font-family: Merriweather sans;
  letter-spacing: 0px;
  line-height: 30px;
  word-spacing: 2.5px;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
}

.container {
  position: relative;
  content: center;
  color: white;
}

.carousel-inner>.item>img {
  margin: auto;
}

h1 {
  color: white;
  text-align: center;
}

.tour-dates-banner {
  background: url('../images/tour-dates/banner.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  section {
    width: 100%;
    height: auto;
    display: block;
  }

  section.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section.group a {
    margin: 10px;
  }

  /* .parent {
    position: relative;
  }

  .over-img {
    position: absolute;
    top: 80%;
    left: 20%;
  } */

  .image-responsive {
    width: 100%;
    height: auto;
    display: block;
  }

  /* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } */

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .page-banner {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-banner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
  }

  @media (min-width: 1960px) {
    .page-banner {
      height: 600px;
    }
  }

  @media (min-width: 720px) and (max-width: 1959px) {
    .page-banner {
      height: 450px;
    }
  }

  .page-banner>.banner-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 0px 15px #666;
    opacity: .5;
    z-index: 1;
  }

  @media (min-width: 720px) {
    .page-banner>.banner-title {
      font-size: 60px;
    }
  }

  /* Media to be editted */
  */ .media-banner {
    background: url('../images/media/banner.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .media-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .h3 {
    color: white;
  }

  .h5 {
    color: white;
  }

  /* .media-card-wrapper {
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.media-card{
  width: 225px;
  height: 225px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 25px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;
  transition: all .3s ease-in-out;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.media-card > img {
  width: 100%;
  height: 100%;
}

.media-card:hover {
  width: 250px;
  height: 250px;
  z-index: 10;
  box-shadow: 0 50px 125px rgba(0, 0, 0, 0.4);
}

.media-list > iframe {
  margin-bottom: 50px;
} */
  /*

/* Merch to be editted */
  */

  .merch-banner {
  background: url('../images/merch/banner.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  ul.merch-controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    border: 1px solid #efefef;
  }
}

@media (min-width: 500px){
  ul.merch-controls {
    flex-wrap: nowrap;
  }
}
ul.merch-controls>li {
  width: 100%;
  height: auto;
  flex-grow: 0;
  overflow: hidden;
}

.merch-ctrl-btn {
  height: 4rem;
  flex-grow: 0;
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
  overflow: hidden;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.merch-ctrl-btn.active {
  background: #efefef;
}

.merch-ctrl-btn:hover {
  cursor: pointer;
  background: #efefef;
}

.merch-ctrl-btn span {
  display: inline;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.merch-ctrl-btn img {
  width: 5%;
  height: 75%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 100%;
  transition: all 0.3s ease-in-out;
}

.merch-ctrl-btn:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.merch-ctrl-btn:hover img {
  bottom: 15%;
}

.filtr-item {
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 0;
  transition: all .3s ease-in-out;
}

.filtr-item>img {
  width: 250px;
  height: 250px;
  margin: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filtr-item:hover {
  cursor: pointer;
  top: .5rem;
  background: #efefef;
  z-index: 10;
}

.filtr-item:hover>img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all .3s ease-in-out;
}

.filtr-item.--sold-out:before {
  content: "Sold Out";
  width: 20rem;
  height: 2rem;
  position: absolute;
  top: 1.5625rem;
  right: -105px;
  padding-top: .25rem;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -25px);
  z-index: 1;
  background: rgba(117, 0, 2, 0.85);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  transform: rotate(35deg)
}

.filtr-item.--sold-out:hover {
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}
